<div class="login p-20 h-full flex flex-col justify-center items-center">
    <h2 class="mb-2 flex justify-center">Login</h2>
    <div>
    <form action="" class="login-form flex flex-col">
        <div class="flex justify-center">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" class="emailInput pb-5" matInput> 
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            </mat-form-field>
        </div>

        <div class="flex justify-center">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" class="passwordInput pb-5" matInput> 
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            </mat-form-field>
        </div>

        <div class="signup-button flex justify-center">
            <p-button label="Submit"></p-button>
        </div>
    </form>
    </div>
</div>
